body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid darkred;
    transition: .2s;
}
.box:hover{
    width: 150px;
    height: 200px;
}