@import '../abstracts/variables';
#tour-cards{
    background-color: $body-bgc;
    padding: 4rem 0;
    .cards-desc{
        margin-bottom: 50px;
        text-align: center;
        &__title{
            font-family: $font-primary;
            font-size: 2rem;
            margin: 10px 0;
            color: $title-color;
        }
        &__subtitle{
            font-family: $font-secondary;
            color: $subtitle-color;
            padding: 0px 22%;
            font-size: 12px;
            margin: 15px 0;
        }
    }
}