$body-bgc: #f2f8fb;
$primary-color: #ff7a58;
$link-color: #ed4a28;
$link-color-hover: #b4381f;
$title-color: #292b2c;
$subtitle-color: #888888;
$card-paragraph: #646464;
$price-color: grey;
$star-color: rgb(255, 196, 0);

$border-color: rgb(170, 170, 170);
$font-primary:  "K2D", sans-serif;
$font-secondary: "Poppins", sans-serif;